<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rogden33.jeopardytrivia" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/mainMenu_activityTitle" />
        <activity
            android:name=".RandomQuestionsActivity"
            android:label="@string/randomQuestions_activityTitle" />
        <activity
            android:name=".ViewScores"
            android:label="@string/title_activity_view_scores" >
        </activity>
        <activity
            android:name=".GameBoardActivity"
            android:label="@string/title_activity_game_board" >
        </activity>
        <activity
            android:name=".SingleClueActivity"
            android:label="@string/title_activity_single_clue" >
        </activity>
        <activity
            android:name=".FinalJeopardyActivity"
            android:label="@string/title_activity_final_jeopardy" >
        </activity>
    </application>

</manifest>
